<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Home</title>
      {% endif %}
    </head>
    <body>
        <div>
          Item Catalog:
          <a href="/catalog">Home</a>
          <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        { % if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
